.login-container {
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
  height: 100vh;
  padding: 30px;
}

.login-box {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.8;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 25px 35px;
  margin: 20px 30px;
}

.input-group {
  margin: 30px 0;
}

.input-group label {
  display: block;
}

.input-group input {
  border: none;
  border-radius: 20px;
  background: none;
  border: 1px solid white;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  color: white;
  outline: none;
}

.do-you-have a {
  color: #eb4d4b;
}

.submit-btn-container {
  text-align: center;
}

.submit-btn-container input {
  border: none;
  background-color: #eb4d4b;
  color: white;
  padding: 10px 40px;
  border-radius: 35px;
  font-size: 1.4em;
  letter-spacing: 2px;
  cursor: pointer;
}

.social-auth {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  margin-top: 30px;
  padding-top: 20px;
}

.social-auth a {
  color: white;
  font-size: 1.9em;
}

.login-img-container {
  display: flex;
  height: 100%;
}

.login-img-container img {
  width: 100%;
}